#about {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-top: 0rem !important;
    margin-bottom: 5rem;
    height: 100%;
}

/* .text_small {
    height: max-content;
    width: 50rem;
} */

.about__quran {
    display: flex;
    width: 50%;
    float: left;
}

.about__quran > .ellipse {
    position: relative;
    max-width: 50%;
    height: auto;
}

.about__quran > img {
    position: absolute;
    width: 30%;
    height: auto;
}

.about__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto 0;
    overflow: hidden !important;
}

.about__content > h2 {
    text-align: center;
}

.about__content > h5 {
    text-align: justify;
}

.bttn {
    justify-content: center;
}