#header {
    background: url("../../assets/bg.png");
    display: flex;
    padding-top: 10rem !important;
    justify-content: space-around;

}

#bgimage {
    position: absolute;
    opacity: 0.15;
    z-index: -1;
    top: 1.7rem;
}

#bgimage > img{
    width: 100%;
    max-height: 50%;
}

.image {
    max-width: 40%;
    height: auto;
    object-fit: cover;
    float: right;
}

.text {
    display: inline-block;
    width: 50%;
    padding-top: 5%;
}

.text h2 {
    text-align: left;
}


.text_small {
    margin: 1rem 0;
    width: 70%;
    color: #4D4B4B;
}

.buttons > a {
    margin-right: 4rem;
}