

#bgimage {
    position: absolute;
    opacity: 0.1;
}

#bgimage > img{
    width: 100vw;
    height: 80vh;
}

.image {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    display: inline-block;
    float: right;
}

.text {
    display: inline-block;
    width: 50%;
}

.text_small {
    margin: 1rem 0;
    width: 70%;
    color: #4D4B4B;
}

.buttons > a {
    margin-right: 4rem;
}