nav {
    width: 100%;
    position: fixed;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 5px black;
    background-color: white;
    margin: 0 0 1.7rem 0;
    z-index: 2;
}

nav img {
    width: 4rem;
    height: 4rem;
}

.sign {
    color: #21A56E;
}

#sign__in {
    box-shadow: 0px 2px 5px gray;
    padding: 0.2rem 0.9rem;
    margin: 1rem;
}

.active {
    border: 3px solid #20A36C;
    color: #20A36C;
}

#links a {
    box-sizing: border-box !important;
    padding: 0 0.5rem;
    margin: auto 2rem;
    align-self: stretch;
    min-width: max-content;
}

#links {
    display: flex;
    align-self: stretch;
    margin: auto 0;
}